body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.game-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.timer,
.error-count {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* ظل خفيف */
  border: 2px solid #1d998b;
}

.game-over-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e7e4e4;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* ظل خفيف */
}

.game-over-message h2 {
  margin: 0 0 10px;
  font-size: 32px;
  color: #000;
}

.game-over-message p {
  margin: 5px 0;
  font-size: 18px;
}

.game-over-message button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  border: 2px solid #1d998b;
}

.sudoku-board {
  display: grid;
  grid-template-columns: repeat(9, 60px);
  grid-template-rows: repeat(9, 60px);
  gap: 0;
  margin-top: 20px;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.386); /* ظل خفيف */
}

.sudoku-row {
  display: contents;
}

.sudoku-cell {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  border: 1px solid #ccc;
  font-size: 34px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sudoku-cell:nth-child(3n + 1) {
  border-left: 3px solid #000;
}

.sudoku-cell:nth-child(3n) {
  border-right: 3px solid #000;
}

.sudoku-row:nth-child(3n + 1) .sudoku-cell {
  border-top: 3px solid #000;
}

.sudoku-row:nth-child(3n) .sudoku-cell {
  border-bottom: 3px solid #000;
}

.number-panel {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.number-card {
  width: 45px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border: 2px solid #1d998b;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.1); /* ظل خفيف */
}

.number-card:hover {
  background-color: #ddd;
}

.number {
  font-size: 24px;
  font-weight: bold;
}

.count {
  font-size: 12px;
  color: #666;
}